<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/add_shopping_cart_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/add_shopping_cart_24"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoAn"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.ThongTinNguoiDungActivity"
            android:exported="false" />
        <activity
            android:name=".chatgpt.ChatGPTActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NguoiDungActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".quanly.ThemSuaTaiKhoanActivity"
            android:exported="false" />
        <activity
            android:name=".quanly.ThemSuaDienThoaiActivity"
            android:exported="false" />
        <activity
            android:name=".quanly.QuanLyDonHangActivity"
            android:exported="false" />
        <activity
            android:name=".quanly.QuanLyTaiKhoanActivity"
            android:exported="false" />
        <activity
            android:name=".quanly.ThongKeActivity"
            android:exported="false" />
        <activity
            android:name=".quanly.QuanLyDienThoaiActivity"
            android:exported="false" />
        <activity
            android:name=".quanly.QuanLyActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ThanhToanActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LichSuDonHangActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GioHangActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SamSungActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DangNhapActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DangKyActivity"
            android:exported="true" />
        <activity
            android:name=".activity.TimKiemActivity"
            android:exported="false" />
        <activity
            android:name=".activity.iPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChiTietSanPhamActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ManHinhChoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>